*

!.gitignore
!README.md

!htdocs
htdocs/*
!htdocs/webshop/
!/htdocs/webshop/*
!/htdocs/webshop/db/
!/htdocs/webshop/db/*
!/htdocs/webshop/media/
!/htdocs/webshop/media/*

!apache
apache/*
!apache/conf
apache/conf/*
!apache/conf/httpd.conf

!php
php/*
!php/php.ini
